<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content ="width=device-width, initial-scale=1">
        <title>Programação Web 1</title>
    </head>
    <body>
        <form action="/login" method="POST" >
            <section>
                <h2>Informação do Contato</h2>
                <p>
                    <label for="username">
                        <span>Nome:</span>
                    </label>
                    <input type="text" id="username" name="username"/>
                </p>
                <p>
                    <label for="mail">
                        <span>E-mail:</span>
                    </label>
                    <input type="text" id="mail" name="mail"/>
                </p>
            </section>
           
            <section>
                <p>
                    <button type="submit">Enviar</button>
                </p>
            </section>
        </form>
    </body>
</html>